body {

    font-family: Arial, sans-serif;

    background: linear-gradient(to bottom right, #e1322f, #f6a8a8);

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    margin: 0;

}



.contenedor {

    background: linear-gradient(to bottom,

            #d9d6d6 10%,
            /* gris claro superior */

            #eeecec 30%,
            /* centro blanco */

            #ffffff 97%,

            #e1322f 100%);

    border-radius: 10px;

    padding: 30px;

    width: 600px;

    text-align: center;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    border: none;
    /* ya no necesitamos borde sólido */

}



h2 {

    color: #d63d3d;

    margin-bottom: 20px;

}



label {

    display: block;

    text-align: left;

    margin-top: 15px;

    margin-bottom: 5px;

    font-weight: bold;

}



input[type="email"], input[type="text"],

input[type="password"] {

    width: 100%;

    padding: 10px;

    border-radius: 20px;

    border: 1px solid #ccc;

    outline: none;

}

.mostrar {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: left;
}



button {

    width: 80%;

    padding: 10px;

    background: linear-gradient(to right, #d63d3d, #e44c4c);

    border: none;

    color: white;

    border-radius: 20px;

    font-size: 16px;

    margin-top: 20px;

    cursor: pointer;

    transition: background 0.3s;

}



button:hover {

    background: linear-gradient(to right, #c02c2c, #cc4444);

}



.enlaces {

    display: flex;

    justify-content: space-between;

    margin-top: 20px;

    font-size: 12px;

}



.enlaces a {

    color: #d63d3d;

    text-decoration: none;

}



.logo img {

    width: 30px;

    float: right;

}